@font-face {
    font-family: 'MyFont';
    src: url('fonts/HelveticaNeue.ttc') format('truetype');
}
:root {
    --primary-color: #1a1a1a;
    --secondary-color: #FFFFFF;
    --primary-font: 'MyFont';
}

body { 
    margin:  0px;
    padding: 0px;
}

.gen-info {
    Width: 1920px;
    Height: 1080px;
    display:  flex;
    justify-content: center;
}

.gen-info .left {
    width: 1098px;
    background-color: #F9F9F9;
}

.gen-info .left header {
    display: flex;
}

.gen-info .left header .header-left {
    width: 71.21px;
    border-radius: 50%;
}

.gen-info .left header .header-left div {
    width: 40px;
    height: 40px;
    margin-top: 45px;
    margin-left: 48px;
    border-radius: 50%;
    background: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
}

.gen-info .left header .header-left img {
    width: 9.21px;
    height: 16px;
    
}

.gen-info .left header .header-right .top { 
    display: flex;
    gap: 592px;
}

.gen-info .left header .header-right .top h3 {
    width: 179px;
    height: 29px;
    margin-top:  47px;
    margin-left:  77.79px;
    font-size: 24px;
    color: var(--primary-color);
    font-family: var(--primary-font);
    font-weight: 700;
    line-height: 29.3px;
}

.gen-info .left header .header-right .top h5 {
    width: 29px;
    height: 24px;
    margin-top: 49px;
    font-size: 20px;
    color: var(--primary-color);
    font-family: var(--primary-font);
    font-weight: 400;
    line-height: 23.86px;
}

.gen-info .left header .header-right .bottom hr {
    width: 798px;
    margin-left: 75px;
}

.gen-info .left main {
    width: 798px;
    margin-left: 150px;
}

.gen-info .left main .top {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 56px;
}

.gen-info .left main .top aside label {
    display: block;
    margin-top: 60px;
    font-family: var(--primary-font);
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
    color: black;
}

.gen-info .left main .top aside input {
    margin-top: 8px;
    width: 371px;
    height: 48px;
    border-radius: 4px;
    background-color: var(--secondary-color);
    border: 1px solid #BCBCBC;
    padding-left: 16px;
    position: absolute;
    outline: none;
    color: var(--primary-color);

}

.gen-info .left main .top aside input::placeholder {
    color: #BCBCBC;
}


.gen-info .left main .top aside h6,
.gen-info .left main .bottom aside h6 {
    margin-top: 8px;
    font-family: var(--primary-font);
    font-size: 14px;
    font-weight: 300;
    line-height: 21px;
    color: #2e2e2e;
}

.gen-info .left main .bottom .photo {
    margin: 54px 0px ;
    display: grid;
    grid-template-columns: 1fr 2fr;
}

.gen-info .left main .bottom .photo h4 {
    font-family: var(--primary-font);
    font-weight: 500;
    font-size: 18px;
    line-height: 21.98px;
    color: var(--primary-color);
    width: 247px;
}

.gen-info .left main .bottom .photo div {
   width: 100px;
}

.gen-info .left main .bottom .photo label {
    font-family: var(--primary-font);
    font-weight: 400;
    font-size: 14px;
    line-height: 16.7px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: #0E80BF;
    width: 107px;
    height: 27px;
    border-radius: 4px;
    color: #FFFFFF;
    margin-bottom: 30px;
}


.gen-info .left main .bottom .photo  input[type="file"] {
    visibility: hidden;
    display: none;
}

/* .gen-info .left main .bottom .photo span {
    width: 16.5px;
    height: 16.5px;
    margin-bottom: 35px;
    position: absolute;
} */

.gen-info .left main .bottom aside label {
    display: block;
    font-family: var(--primary-font);
    font-weight: 500;
    size: 16px;
    line-height: 21px;
    margin-bottom: 8px;
}

.gen-info .left main .bottom aside textarea {
    resize: none;
    width: 798px;
    height: 103px;
    border-radius: 4px;
    border: 1px solid #BCBCBC;
    background-color: var(--secondary-color);
    padding-top: 13px;
    padding-left: 16px;
    font-family: var(--primary-font);
    font-weight: 400;
    size: 16px;
    line-height: 21px;
    color: var(--primary-color);
    outline: none;
}

.gen-info .left main .bottom aside textarea::placeholder {
    color: #BCBCBC;
}

.gen-info .left main .bottom aside .email-label {
    margin-top: 33px;
}

.gen-info .left main .bottom aside .number-label {
    margin-top: 29px;
}

.gen-info .left main .bottom aside input {
    width: 798px;
    height: 48px;
    padding-left: 16px;
    border-radius: 4px;
    border: 1px solid #BCBCBC;
    background-color: var(--secondary-color);
    font-size: 16px;
    font-family: var(--primary-font);
    line-height: 21px;
    font-weight: 400;
    color: var(--primary-color);
    position: absolute;
    outline: none;
}

.gen-info .left main .bottom aside input::placeholder {
    color: #BCBCBC;
}


.gen-info .left main div {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    margin-top: 82px;
}

.gen-info .left main div button {
    width: 151px;
    height: 48px;
    background: #6B40E3;
    border-radius: 4px;
    border: 0px;
    font-family: var(--primary-font);
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: var(--secondary-color);
    margin-bottom: 65px;
    letter-spacing: 1.28px;
}

.gen-info .left .experience {
    display: none;
}

.gen-info .left .experience main .work .work-top,
.gen-info .left .education main .school .top-education{
    margin-top: 60px;
}

.gen-info .left .experience main .work .work-top label,
.gen-info .left .education main .school .top-education label{
    font-family: var(--primary-font);
    color: var(--primary-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
}


.gen-info .left .experience main .work .work-top div,
.gen-info .left .education main .school .top-education div {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: 5px;
}

.gen-info .left .experience main .work .work-top div input, 
.gen-info .left .education main .school .top-education div input {
    width: 798px;
    height: 48px;
    border-radius: 4px;
    gap: 10px;
    border: 1px solid #BCBCBC;
    padding-left: 16px;
    outline: none;
}

.gen-info .left .experience main .work .work-top div input::placeholder,
.gen-info .left .education main .school .top-education div input::placeholder {
    font-family: var(--primary-font);
    font-weight: 400;
    size: 16px;
    line-height: 21;
}


.gen-info .left .experience main .work .work-top h6,
.gen-info .left .education main .school .top-education h6 {
    margin-top: 5px;
    font-family: var(--primary-font);
    font-weight: 300;
    font-size: 14px;
    line-height: 21px;
    color:  #2E2E2E;
}

.gen-info .left .experience main .work .work-top .employer {
    margin-top: 25px;
}

.gen-info .left .experience main .work .work-middle,
.gen-info .left .education main .school .middle-education
 {
    display: flex;
    gap: 56px;
    margin-top: 20px;
}

.gen-info .left .experience main .work .work-middle aside,
.gen-info .left .education main .school .middle-education aside {
    display: grid;
    grid-template-rows: 1fr 2fr;
}

.gen-info .left .experience main .work .work-middle aside label,
.gen-info .left .education main .school .middle-education aside label {
    font-family: var(--primary-font);
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
    color: var(--primary-color);
    height: 21px;
}

.gen-info .left .experience main .work .work-middle aside input,
.gen-info .left .education main .school .middle-education aside input {
    width: 371px;
    height: 48px;
    border-radius: 4px;
    border: 1px solid #BCBCBC;
    margin-top: 8px;
    padding: 16px;
    outline: none;

}

.gen-info .left .experience main .work .work-bottom,
.gen-info .left .education main .school .bottom-education {
    display: grid;
    margin-top: 33px;
}

.gen-info .left .experience main .work .work-bottom label,
.gen-info .left .education main .school .bottom-education label {
    margin-bottom: 8px;
    font-family: var(--primary-font);
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;

}

.gen-info .left .experience main .work .work-bottom textarea,
.gen-info .left .education main .school .bottom-education textarea {
    resize: none;
    outline: none;
    width: 798px;
    height: 123px;
    padding-left: 16px;
    padding-top: 13px;
    margin-bottom: 50px;
}

.gen-info .left .experience main .top-button,
.gen-info .left .education main .top-button-edu {
    margin-top: 45px;
}

.gen-info .left .experience main .top-button button,
.gen-info .left .education main .top-button-edu button{
    width: 280px;
    height: 48px;
    border-radius: 4px;
    background-color: #62A1EB;
    border: 0px;
    color: var(--secondary-color);
    font-family: var(--primary-font);
    font-weight: 500;
    size: 16px;
    line-height: 19.54px;
    margin-bottom: 114px;
}

.gen-info .left .experience main .bottom-button,
.gen-info .left .education main .bottom-button-edu {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 543px;
}

.gen-info .left .experience main .bottom-button button,
.gen-info .left .education main .bottom-button-edu button {
    width: 113px;
    height: 48px;
    background-color: #6B40E3;
    border-radius: 4px;
    border: 0px;
    font-family: var(--primary-font);
    font-weight: 500;
    size: 16px;
    line-height: 19.54px;
    color: var(--secondary-color);
    letter-spacing: 1.28px;

}

.gen-info .left .education main .bottom-button-edu button {
    margin-top: 120px;
}

.gen-info .right {
    width: 822px;
}

.gen-info .right .top{
    height: 900px;
}
.gen-info .right .bottom{
    height: 180px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
}

.gen-info .right .bottom div {
    position: absolute;
    width: 42px;
    height: 42px;
    background-image: url('./assets/sparkle.png');
    margin-bottom: 44px;
    margin-left: 78px;
}

.gen-info .right .second-part {
    margin-left: 80px;
    margin-top: 24px;
}

.gen-info .right .second-part .resume-experience h5 {
    font-family: var(--primary-font);
    font-weight: 700;
    font-size: 18px;
    line-height: 21.98px;
    color: #F93B1D;
    font-style: normal;
}

.gen-info .right .second-part .resume-experience .resume-employer {
    display: flex;
}

.gen-info .right .second-part .resume-experience .resume-employer span {
    margin-top: 12px;
}

.gen-info .right .second-part .resume-experience h6 {
    margin-top: 15px;
    font-family: var(--primary-font);
    font-style: normal;
    font-weight: 500;
    font-size: 16px;    
    line-height: 20px;
    color: #1A1A1A;
    margin-bottom: 0px;
}

.gen-info .right .second-part .resume-experience .second {
    margin-left: 7px;
}

.gen-info .right .second-part .experience-date{
    display: flex;
}

.gen-info .right .second-part .experience-date h6{
    margin-top: 5px;
    margin-left: 0px;
    font-family: var(--primary-font);
    font-style: italic;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #919191;
    margin-bottom: 16px;
}

.gen-info .right .second-part p {
    width: 662px;
    height: 66px;
    left: 80px;
    top: 464px;
    font-family: var(--primary-font);
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    text-transform: capitalize;
    color: var(--primary-color);
}


.gen-info .left main input.error {
    border: 1px solid #EF5050 !important;
}

.red {
    color:  #EF5050 !important;
}

.gen-info .left main input.valid{
    border: 1px solid #98E37E !important;

}

.gen-info .left main textarea.valid{
    border: 1px solid #98E37E !important;

}

.gen-info .left main aside div {
    margin:  0px;
    height: 56px;
}

.gen-info .left main aside div span {
    display: none;
}

.gen-info .left main aside div span.valid {
    background-image: url('./assets/green-icon.png');
    display: inline;
    width: 17px;
    height: 17px;
    margin-bottom: 17px;
    margin-right: 10px;
    position: relative;
}

.gen-info .left main aside div span.error {
    background-image: url('./assets/red-icon.png');
    display: inline;
    width: 21px;
    height: 18.75px;
    margin-right: -33px;
    margin-bottom: 14.6px;
    position: relative;
}

